pandas
numpy
scikit-learn
matplotlib
geopandas
folium
seaborn
numba
scipy
xgboost
lightgbm
catboost
shap
joblib
tqdm
fastapi
uvicorn
pydantic
opencv-python
requests
boto3
BeautifulSoup4
selenium
pytz
pyarrow
fastparquet
python-dotenv
pillow
flask
code2flow
locust
bentoml
pytest